<!DOCTYPE html>
<html>

<head>
  <title>Lỗi</title>
</head>

<body>

  <div class="position-absolute top-50 start-50 translate-middle text-center">
    <div class="row">
      <h1>Lỗi</h1>
      <p>{{message}}</p>
    </div>
    <div class="row text-center">
      <img src="uploads/crack.png" style="height: 170px;" class="" alt="">
    </div>
    <div class="row">
      <a href="listDataUser">Quay lại</a>
    </div>
  </div>
</body>

</html>